<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand">BiblioPopApp</span>
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="show==1" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a (click)="menuRegistrar()" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuRegistrar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registrar
          </a>
          <div class="dropdown-menu" [class.show]="menu_registrar==1" aria-labelledby="navbarDropdownMenuRegistrar">
            <a class="dropdown-item" routerLink="/registrar-editora">Editora</a>
            <a class="dropdown-item" routerLink="/registrar-autor">Autor</a>
            <a class="dropdown-item" routerLink="/registrar-livro">Livro</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a (click)="menuConsultar()" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuConsultar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Consultar
            </a>
            <div class="dropdown-menu" [class.show]="menu_consultar==1" aria-labelledby="navbarDropdownMenuConsultar">
              <a class="dropdown-item" routerLink="/consultar-acervo">Acervo</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

</div>
